name: Deploy Production (Live)

on:
  push:
    branches:
      - main  # Só roda quando o código chegar na main

jobs:
  deploy:
    name: Deploy to AWS Production
    runs-on: ubuntu-latest

    steps:
    - name: Executing remote ssh commands using password/key
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.HOST_DNS }}
        username: ${{ secrets.USERNAME }}
        key: ${{ secrets.EC2_SSH_KEY }}
        port: 22
        script: |
          # 1. Entra na pasta de PRODUÇÃO
          cd /var/www/tl-iphone-prod
          
          # 2. Atualiza o código vindo da Main
          git fetch origin main
          git reset --hard origin/main
          
          # 3. Ativa ambiente e instala dependências (incluindo o novo DRF/Swagger)
          source venv/bin/activate
          pip install -r requirements.txt
          
          # 4. Migrações e Estáticos (Igual fizemos na homolog)
          python manage.py migrate
          python manage.py collectstatic --noinput
          
          # 5. Reinicia o serviço de PRODUÇÃO
          # Importante: Confirme se o serviço lá chama 'gunicorn-prod' ou 'gunicorn_prod'
          sudo systemctl restart gunicorn-prod