name: Deploy Production (Live)

on:
  push:
    branches:
      - main

jobs:
  deploy:
    name: Deploy Prod to DigitalOcean/AWS
    runs-on: ubuntu-latest

    steps:
    - name: Executing remote ssh commands
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.HOST_DNS }}
        username: ${{ secrets.USERNAME }}
        key: ${{ secrets.EC2_SSH_KEY }}
        port: 22
        script: |
          # Garante a pasta de produção
          sudo mkdir -p /var/www/tl-iphone-prod
          sudo chown -R ubuntu:ubuntu /var/www/tl-iphone-prod
          
          cd /var/www/tl-iphone-prod
          
          # Inicializa git se necessario
          if [ ! -d ".git" ]; then
            git init
            git remote add origin https://github.com/oafarias/TL-Phone.git
          fi
          
          # Baixa codigo da MAIN
          git fetch origin main
          git reset --hard origin/main
          
          # Setup Python
          if [ ! -d "venv" ]; then
            python3 -m venv venv
          fi
          
          source venv/bin/activate
          pip install -r requirements.txt
          
          # Banco e Static
          python manage.py migrate
          python manage.py collectstatic --noinput
          
          # Reinicia servico
          sudo systemctl restart gunicorn_prod